<app-navbar>

</app-navbar>
<app-header>

</app-header>

<div class="row">
        <div class="col-sm-6"> <img src="assets/img/1.jpg" alt="Lights" style="width:80%"></div>
        <div class="col-sm-6">
            <textarea rows="2" cols="50">
MultiLine Description                </textarea><br>

<textarea rows="1" cols="50">
        tags will come here</textarea>
        <br>
        <br>
        <br>
        <br>
        <br>
<br><button type="button" class="btn btn-info btn-lg side">
        <span class="glyphicon side">&#xe125;</span> Like
      </button>
      <button type="button" class="btn btn-info btn-lg side">
            <span class="glyphicon side">&#xe008;</span> Comment
          </button>
<br>

            </div>
      
      </div> 