




<app-navbar>

    </app-navbar>
    <app-header>
    
    </app-header>
    
    <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-6">
                    <br>
                    <br>
                    <br>
                    <br>
                <a routerLink="/login" class="btn btn-primary btn-block">Login</a>
                <br>
                <a routerLink="/register" class=" btn btn-primary btn-block">Register</a>
                <br>
                </div>
            </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
         
    <div class="col-4 login-form">
            <form>


                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Repeat Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control">
                    </div>
                   
                        <input type="submit" value="Register" class="btn btn-success">
                        <br>
                        <a routerLink="/login">Already register ? Click Here</a>
                    
                </form>
      </div>
          </div>



