.side
{
    margin-top: 15px;
    padding-left: 100px;
}

.sides
{
    padding-left:300px;
    margin-top: -10px;
}
.hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-width: 5px;
  } 