










<app-navbar>

  </app-navbar>
  <app-header>
  
  </app-header>
  
  <div class="row">
          <div class="col-sm-4">
              <div class="col-sm-6">
                  <br>
                  <br>
                  <br>
                  <br>
                  <a routerLink="/upload" class="btn btn-primary btn-block">Single Media</a>
              <br>
              <a routerLink="/multiple" class="btn btn-primary btn-block">Multiple Media</a>
              <br>
              </div>
          </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
       
  <div class="col-4 login-form">
          <form>
     
              <table style="width:100%">
                  <tr></tr>
                      <tr>
                      <th></th>
                      <th></th>
                      <th></th>

                        <th><h3>New Media Page</h3></th>
                        
                      </tr>
                      <tr>

                      </tr>
                      <tr>
                              <th></th>
                              <th></th>
                              
                          
                        <td><a routerLink="/browse" class="btn btn-primary">Browse</a></td>
                       <td></td>
                        <td><a routerLink="/upload" class="btn btn-primary">Upload</a></td>
                      </tr>
                      
                      <tr>
                          <td></td>
                          <th></th>
                      <th></th>
                      

                          <td>
                                  <form class="form-horizontal" action="/action_page.php">
                                      <div class="form-group">
                                        <label class="control-label col-sm-2" for="title">Title:</label>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="control-label col-sm-2" for="des">Description:</label>
                                        <div class="col-sm-10">          
                                          <input type="text" class="form-control" id="pwd" placeholder="Enter Description" name="des">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                              <label class="control-label col-sm-2" for="tag">Tags:</label>
                                              <div class="col-sm-10">          
                                                <input type="text" class="form-control" id="tag" placeholder="Enter Tags" name="tag">
                                              </div>
                                            </div>
                                      <div class="form-group">     
                                              <label class="control-label col-sm-2" for="effect">Effects:</label>   
                                        <div class="col-sm-offset-2 col-sm-10">
                                          <div class="checkbox">
                                            <label><input type="checkbox" name="Sepia"> Sepia</label>
                                            
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">        
                                              <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                  <label><input type="checkbox" name="grey"> Grey</label>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="form-group">        
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                    <div class="checkbox">
                                                      <label><input type="checkbox" name="Brightness"> Brightness</label>
                                                    </div>
                                                  </div>
                                                </div>
                                              <hr>
<div class="form-group">
<label class="control-label col-sm-2" for="title">Title:</label>
<div class="col-sm-10">
<input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="des">Description:</label>
<div class="col-sm-10">          
<input type="text" class="form-control" id="pwd" placeholder="Enter Description" name="des">
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="tag">Tags:</label>
<div class="col-sm-10">          
  <input type="text" class="form-control" id="tag" placeholder="Enter Tags" name="tag">
</div>
</div>
<div class="form-group">     
<label class="control-label col-sm-2" for="effect">Effects:</label>   
<div class="col-sm-offset-2 col-sm-10">
<div class="checkbox">
<label><input type="checkbox" name="Sepia"> Sepia</label>

</div>
</div>
</div>
<div class="form-group">        
<div class="col-sm-offset-2 col-sm-10">
  <div class="checkbox">
    <label><input type="checkbox" name="grey"> Grey</label>
  </div>
</div>
</div>
<div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox" name="Brightness"> Brightness</label>
      </div>
    </div>
  </div>
<div class="form-group">        
<div class="col-sm-offset-2 col-sm-10 ">
<button type="submit" class="btn btn-success">Submit</button>

</div>
</div>













                                    </form>
                          </td>
                      </tr>
                      
                    </table>
              </form>
    </div>
        </div>





































