    <app-navbar>
    </app-navbar>
    <app-header>
    </app-header>

    
    <h2 class="text-center">
            My Media
            </h2>

<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/mediadetail" target="_blank">
          <img src="assets/img/1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p><button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon">&#xe125;</span> Like
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon">&#xe008;</span> Comment
                      </button></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="assets/img/2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
                <p><button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon">&#xe125;</span> Like
                      </button>
                      <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon">&#xe008;</span> Comment
                          </button></p>
              </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src= "assets/img/3.jpg" alt="Fjords" style="width:100%">
          
            <div class="caption">
            <p><button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon">&#xe125;</span> Like
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon">&#xe008;</span> Comment
                      </button></p>
          
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg" target="_blank">
              <img src="assets/img/4.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                    <p><button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon">&#xe125;</span> Like
                          </button>
                          <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon">&#xe008;</span> Comment
                              </button></p>
                  
                  </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/nature.jpg" target="_blank">
              <img src="assets/img/5.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                    <p><button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon">&#xe125;</span> Like
                          </button>
                          <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon">&#xe008;</span> Comment
                              </button></p>
                  
                  </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src= "assets/img/6.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                    <p><button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon">&#xe125;</span> Like
                          </button>
                          <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon">&#xe008;</span> Comment
                              </button></p>
                  
                  </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                  <img src="assets/img/7.jpg" alt="Lights" style="width:100%">
                  <div class="caption">
                        <p><button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon">&#xe125;</span> Like
                              </button>
                              <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon">&#xe008;</span> Comment
                                  </button>
                                </p>
                      
                      </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                  <img src="assets/img/8.jpg" alt="Nature" style="width:100%">
                  <div class="caption">
                        <p><button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon">&#xe125;</span> Like
                              </button>
                              <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon">&#xe008;</span> Comment
                                  </button>
                            </p>
                      
                      </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                  <img src= "assets/img/9.jpg" alt="Fjords" style="width:100%">
                  <div class="caption">
                        <p><button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon">&#xe125;</span> Like
                              </button>
                              <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon">&#xe008;</span> Comment
                                  </button>
                               </p>
                      
                      </div> 
                </a>
              </div>
            </div>
          </div>
</div>





